@model MichealOgundero.Controllers.HomeController

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<body id="top">


    <!-- intro section
    ================================================== -->
    <section id="intro">

        <div class="intro-overlay"></div>

        <div class="intro-content">
            <div class="row">

                <div class="col-twelve">

                    <h5>Hello, World.</h5>
                    <h1>I'm Micheal Ayodeji OGUNDERO.</h1>

                    <p class="intro-position">
                        <span>Lecturer</span>
                        <span>Software Engineer</span>
                    </p>

                    <a class="button stroke smoothscroll" href="#about" title="">More About Me</a>

                </div>

            </div>
        </div> <!-- /intro-content -->

        <ul class="intro-social">
            <li><a target="_blank" href="https://www.facebook.com/ogundero.micheal"><i class="fa fa-facebook"></i></a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/micheal-ogundero-33641478/"><i class="fa fa-linkedin"></i></a></li>
            <li><a target="_blank" href="https://twitter.com/micheal__og"><i class="fa fa-twitter"></i></a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UCduDXRFG0_AO94go7WMBNkA/videos"><i class="fa fa-youtube"></i></a></li>
            <li><a target="_blank" href="https://www.instagram.com/micheal__og/"><i class="fa fa-instagram"></i></a></li>
        </ul> <!-- /intro-social -->

    </section> <!-- /intro -->
    <!-- about section
    ================================================== -->
    <section id="about">

        <div class="row section-intro">
            <div class="col-twelve">

                <h5>About</h5>
                <h1>Let me introduce my self.</h1>

                <div class="intro-info">

                    <img src="images/me_at_work.jpg" alt="Profile Picture">

                    <p class="lead">I am a lecturer and  a freelance software engineer. I lecture in the department of systems engineering, university of Lagos. I also play the piano and violin. Having undertaken several projects, I am vast in web development and ready to take on projects. I am also currently doing research in the area of brainwaves using some soft computing tools.</p>
                </div>

            </div>
        </div> <!-- /section-intro -->

        <div class="row about-content">
        
                <div class="col-six tab-full">

                    <h3>Academic Research Areas</h3>
                    <p>I currently work in the following research areas.</p>

                    <ul class="skill-bars">
                        <li>
                            <div class="progress percent90"><span>90%</span></div>
                            <strong>NUMERICAL ANALYSIS</strong>
                        </li>
                        <li>
                            <div class="progress percent90"><span>90%</span></div>
                            <strong>SOFT COMPUTING</strong>
                        </li>
                        <li>
                            <div class="progress percent80"><span>80%</span></div>
                            <strong>CONTROL SYSTEMS ENGINEERING</strong>
                        </li>
                        <li>
                            <div class="progress percent75"><span>75%</span></div>
                            <strong>EXPERT SYSTEMS</strong>
                        </li>
                        <li>
                            <div class="progress percent70"><span>70%</span></div>
                            <strong>COMPUTATIONAL MECHANICS</strong>
                        </li>
                    </ul> <!-- /skill-bars -->
                    

                @*<ul class="info-list">
            <li>
                <strong>Fullname:</strong>
                <span>Micheal Ayodeji Ogundero</span>
            </li>
            <li>
                <strong>Birth Date:</strong>
                <span>September 28, 1987</span>
            </li>
            <li>
                <strong>Job:</strong>
                <span>Freelancer, Fullstack Developer, Lecturer</span>
            </li>
            <li>
                <strong>Website:</strong>
                <span>www.michealogundero.com</span>
            </li>
            <li>
                <strong>Email:</strong>
                <span>ogunderoayodeji@gmail.com</span>
            </li>

        </ul>  /info-list*@

            </div>

            <div class="col-six tab-full">

                <h3>Web Development Skills</h3>
                <p>I am highly skilled in different web development frameworks, packages and programming languages some of which are listed below.</p>

                <ul class="skill-bars">
                    <li>
                        <div class="progress percent90"><span>90%</span></div>
                        <strong>ASP.NET CORE</strong>
                    </li>
                    <li>
                        <div class="progress percent90"><span>90%</span></div>
                        <strong>MICROSOFT SQL</strong>
                    </li>
                    <li>
                        <div class="progress percent85"><span>85%</span></div>
                        <strong>Javascript</strong>
                    </li>
                    <li>
                        <div class="progress percent70"><span>70%</span></div>
                        <strong>HTML5</strong>
                    </li>
                    <li>
                        <div class="progress percent65"><span>65%</span></div>
                        <strong>CSS3</strong>
                    </li>
                    <li>
                        <div class="progress percent75"><span>75%</span></div>
                        <strong>NODE.JS</strong>
                    </li>
                    <li>
                        <div class="progress percent80"><span>80%</span></div>
                        <strong>JQuery</strong>
                    </li>
                    <li>
                        <div class="progress percent90"><span>90%</span></div>
                        <strong>MATLAB</strong>
                    </li>
                    <li>
                        <div class="progress percent80"><span>80%</span></div>
                        <strong>MATHEMATICA</strong>
                    </li>
                </ul> <!-- /skill-bars -->

            </div>

        </div>

        <div class="row button-section">
            <div class="col-twelve">
                <a href="#contact" title="Hire Me" class="button stroke smoothscroll">Hire Me</a>
                <a href="#" title="Download CV" class="button button-primary">Download CV</a>
            </div>
        </div>

    </section> <!-- /process-->
    <!-- resume Section
    ================================================== -->
    <section id="resume" class="grey-section">

        <div class="row section-intro">
            <div class="col-twelve">

                <h5>Resume</h5>
                <h1>More of my credentials.</h1>

                <p class="lead">Work experiences, eduaction and other qualifications are summarized below.</p>

            </div>
        </div> <!-- /section-intro-->

        <div class="row resume-timeline">

            <div class="col-twelve resume-header">

                <h2>Work Experience</h2>

            </div> <!-- /resume-header -->

            <div class="col-twelve">

                <div class="timeline-wrap">

                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-graduation-cap"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>Graduate Assistant</h3>
                            <p>April 2018 - Present</p>
                        </div>

                        <div class="timeline-content">
                            <h4>Department of Systems Engineering, University of Lagos, Akoka-Yaba, Lagos.</h4>
                            <p>
                                Assisting senior lecturers in teaching undergraduate courses, some of which are Image processing, computer graphics, engineering computing, engineering statistics, introduction to robotics, introduction to ordinary differential equations.
                                Managing and overseeing activities at the computational laboratory
                            </p>
                        </div>

                    </div> <!-- /timeline-block -->

                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-graduation-cap"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>Senior Backend-Software Engineer</h3>
                            <p>December 2017 - April 2018</p>
                        </div>

                        <div class="timeline-content">
                            <h4>Wallet.ng, 8B Close C, Hillview Estate, Ogudu GRA Lagos.</h4>
                            <p>
                                &bull; Integrated with different financial services including Providus bank, GTCollection USSD integration, GTBank Automated Payment System (GAPS) Webservice and also Quickteller.<br>
                                &bull; Automated clients' settlement process using ‘hangfire’<br>
                                &bull; Regularly deployed on Microsoft Azure Virtual Machines.<br>
                                &bull; Wrote and managed Endpoints consumed by the wallet mobile apps.<br>
                                &bull; Monitored all transactions at the backend.<br>
                                &bull; Managed the <a href="https://www.wallet.ng,">wallet.ng</a> website, and content management system.<br>
                            </p>
                        </div>

                    </div> <!-- /timeline-block -->

                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-graduation-cap"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>Software Engineer</h3>
                            <p>January 2015 - May 2017</p>
                        </div>

                        <div class="timeline-content">
                            <h4>SureGifts NG, Alma 2 Unit 2, RichmondGate Estate, Lekki, Lagos.</h4>
                            <p>
                                &bull; Managed the content management system and websites, <a href="www.suregifts.com.ng">SureGifts Nigeria</a> and <a href="https://www.suregifts.co.ke">Kenya</a><br>
                                &bull; Member of the team that decoupled the website into an API based system.<br>
                                &bull; Integrated with payment platforms like Paystack and Paypal on the website.<br>
                                &bull; Regularly generated transactional reports from the database with SQL queries.<br>
                            </p>
                        </div>

                    </div> <!-- /timeline-block -->

                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-graduation-cap"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>Undergraduate Intern</h3>
                            <p>August 2014 - January 2015</p>
                        </div>

                        <div class="timeline-content">
                            <h4>Federal Airports Authority of Nigeria, FAAN, Murtala Muhammed International Airport, MMIA, Ikeja, Lagos</h4>
                            <p>
                                @*Managing the content management system and website*@
                            </p>
                        </div>

                    </div> <!-- /timeline-block -->

                </div> <!-- /timeline-wrap -->

            </div> <!-- /col-twelve -->

        </div> <!-- /resume-timeline -->

        <div class="row resume-timeline">

            <div class="col-twelve resume-header">

                <h2>Education</h2>

            </div> <!-- /resume-header -->

            <div class="col-twelve">

                <div class="timeline-wrap">

                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>Master of Science in Systems Engineering</h3>
                            <p>2018 - 2019</p>
                        </div>

                        <div class="timeline-content">
                            <h4>University of Lagos, Akoka-Yaba, Lagos</h4>
                            <p>I major in Artificial Intelligence and Control systems engineering.
                            <br> Thesis - Response analysis of brainwaves due to thermal discomfort.</p>
                        </div>

                    </div> <!-- /timeline-block -->

                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>Certificate of National Service</h3>
                            <p>2016 - 2017</p>
                        </div>

                        <div class="timeline-content">
                            <h4>National Youth Service Corps</h4>
                            <p>.</p>
                        </div>

                    </div> <!-- /timeline-block -->

                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>Bachelor of Science in Systems Engineering</h3>
                            <p>2010 - 2015</p>
                        </div>

                        <div class="timeline-content">
                            <h4>University of Lagos, Akoka-Yaba, Lagos</h4>
                            <p>
                                For this period of five (5) years, I was exposed to different computing and modelling softwares like Matlab, Mathematica, Autodesk Inventor and Fusion360
                                and took some interesting undergraduate courses in pure and applied mathematics, numerical analysis, operations research, artificial intelligence, simulation and modelling, industrial engineering
                                to mention but a few.
                            </p>
                        </div>

                    </div> <!-- /timeline-block -->

                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>O' level certificte</h3>
                            <p>2004 - 2010</p>
                        </div>

                        <div class="timeline-content">
                            <h4>Sanya Grammar School, Ijeshatedo, Lagos</h4>
                            <p>
                            </p>
                        </div>

                    </div> <!-- /timeline-block -->

                </div> <!-- /timeline-wrap -->

            </div> <!-- /col-twelve -->

        </div> <!-- /resume-timeline -->


        <div class="row resume-timeline">

            <div class="col-twelve resume-header">

                <h2>Other Qualifications</h2>

            </div> <!-- /resume-header -->

            <div class="col-twelve">

                <div class="timeline-wrap">

                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>Member</h3>
                            <p>2018 - Present</p>
                        </div>

                        <div class="timeline-content">
                            <h4>Academic Staff Union of Universities</h4>
                            <p></p>
                        </div>

                    </div> <!-- /timeline-block -->

                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>Ajax Design and Usability</h3>
                            <p>2016</p>
                        </div>

                        <div class="timeline-content">
                            <h4>Interaction Design Foundation</h4>
                            <p>.</p>
                        </div>

                    </div> <!-- /timeline-block -->

                    <div class="timeline-block">

                        <div class="timeline-ico">
                            <i class="fa fa-briefcase"></i>
                        </div>

                        <div class="timeline-header">
                            <h3>ABRSM Grade 5 Music Theory Certificate</h3>
                            <p>2015</p>
                        </div>

                        <div class="timeline-content">
                            <h4>Associated Board of the Royal Schools of Music</h4>
                            <p>
                            </p>
                        </div>

                    </div> <!-- /timeline-block -->

                   

                </div> <!-- /timeline-wrap -->

            </div> <!-- /col-twelve -->

        </div> <!-- /resume-timeline -->
    </section> <!-- /features -->
    <!-- Portfolio Section
    ================================================== -->
    <section id="portfolio">

        <div class="row section-intro">
            <div class="col-twelve">

                <h5>Portfolio</h5>
                <h1>Check out some of my works.</h1>

                <p class="lead">I have worked with a few number of clients, and below are some of the applications I worked on at the backend.</p>

            </div>
        </div> <!-- /section-intro-->

        <div class="row portfolio-content">

            <div class="col-twelve">

                <!-- portfolio-wrapper -->
                <div id="folio-wrapper" class="block-1-2 block-mob-full stack">

                    <div class="bgrid folio-item">
                        <div class="item-wrap">
                            <img height="400" width="380" src="images/portfolio/cervitech_rating.png" alt="Liberty">
                            <a href="#modal-01" class="overlay">
                                <div class="folio-item-table">
                                    <div class="folio-item-cell">
                                        <h3 class="folio-title">CerviTech</h3>
                                        <span class="folio-types">
                                            Mobile App
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div> <!-- /folio-item -->

                    <div class="bgrid folio-item">
                        <div class="item-wrap">
                            <img height="480" width="384" src="images/portfolio/beetle.jpg" alt="cervitech">
                            <a href="#modal-02" class="overlay">
                                <div class="folio-item-table">
                                    <div class="folio-item-cell">
                                        <h3 class="folio-title">Shutterbug</h3>
                                        <span class="folio-types">
                                            Web Design
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div> <!-- /folio-item -->

                    <div class="bgrid folio-item">
                        <div class="item-wrap">
                            <img src="images/portfolio/clouds.jpg" alt="Clouds">
                            <a href="#modal-03" class="overlay">
                                <div class="folio-item-table">
                                    <div class="folio-item-cell">
                                        <h3 class="folio-title">Clouds</h3>
                                        <span class="folio-types">
                                            Web Design
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div> <!-- /folio-item -->

                    <div class="bgrid folio-item">
                        <div class="item-wrap">
                            <img src="images/portfolio/beetle.jpg" alt="Beetle">
                            <a href="#modal-04" class="overlay">
                                <div class="folio-item-table">
                                    <div class="folio-item-cell">
                                        <h3 class="folio-title">Beetle</h3>
                                        <span class="folio-types">
                                            Branding
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div> <!-- /folio-item -->

                    <div class="bgrid folio-item">
                        <div class="item-wrap">
                            <img src="images/portfolio/lighthouse.jpg" alt="Lighthouse">
                            <a href="#modal-05" class="overlay">
                                <div class="folio-item-table">
                                    <div class="folio-item-cell">
                                        <h3 class="folio-title">Lighthouse</h3>
                                        <span class="folio-types">
                                            Web Development
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div> <!-- /folio-item -->

                    <div class="bgrid folio-item">
                        <div class="item-wrap">
                            <img src="images/portfolio/salad.jpg" alt="Salad">
                            <a href="#modal-06" class="overlay">
                                <div class="folio-item-table">
                                    <div class="folio-item-cell">
                                        <h3 class="folio-title">Salad</h3>
                                        <span class="folio-types">
                                            Branding
                                        </span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div> <!-- /folio-item -->
                    <!-- modal popups - begin
                    ============================================================= -->
                    <div id="modal-01" class="popup-modal slider mfp-hide">

                        <div class="media">
                            <img src="images/portfolio/modals/m-liberty.jpg" alt="" />
                        </div>

                        <div class="description-box">
                            <h4>CerviTech</h4>
                            <p>I developed the backend content management system with and existing template. I also prepared all the
                             endpoints consumed on the mobile app.</p>

                            <div class="categories">Backend Software Development</div>
                        </div>

                        <div class="link-box">
                            <a href="#">Details</a>
                            <a href="#" class="popup-modal-dismiss">Close</a>
                        </div>

                    </div> <!-- /modal-01 -->

                    <div id="modal-02" class="popup-modal slider mfp-hide">

                        <div class="media">
                            <img src="images/portfolio/modals/m-shutterbug.jpg" alt="" />
                        </div>

                        <div class="description-box">
                            <h4>Shutterbug</h4>
                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

                            <div class="categories">Web Design</div>
                        </div>

                        <div class="link-box">
                            <a href="http://www.behance.net">Details</a>
                            <a href="#" class="popup-modal-dismiss">Close</a>
                        </div>

                    </div> <!-- /modal-02 -->

                    <div id="modal-03" class="popup-modal slider mfp-hide">

                        <div class="media">
                            <img src="images/portfolio/modals/m-clouds.jpg" alt="" />
                        </div>

                        <div class="description-box">
                            <h4>Clouds</h4>
                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

                            <div class="categories">Web Design</div>
                        </div>

                        <div class="link-box">
                            <a href="http://www.behance.net">Details</a>
                            <a href="#" class="popup-modal-dismiss">Close</a>
                        </div>

                    </div> <!-- /modal-03 -->

                    <div id="modal-04" class="popup-modal slider mfp-hide">

                        <div class="media">
                            <img src="images/portfolio/modals/m-beetle.jpg" alt="" />
                        </div>

                        <div class="description-box">
                            <h4>Beetle</h4>
                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

                            <div class="categories">Branding</div>
                        </div>

                        <div class="link-box">
                            <a href="http://www.behance.net">Details</a>
                            <a href="#" class="popup-modal-dismiss">Close</a>
                        </div>

                    </div> <!-- /modal-04 -->

                    <div id="modal-05" class="popup-modal slider mfp-hide">

                        <div class="media">
                            <img src="images/portfolio/modals/m-lighthouse.jpg" alt="" />
                        </div>

                        <div class="description-box">
                            <h4>Lighthouse</h4>
                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

                            <div class="categories">Web Development</div>
                        </div>

                        <div class="link-box">
                            <a href="http://www.behance.net">Details</a>
                            <a href="#" class="popup-modal-dismiss">Close</a>
                        </div>

                    </div> <!-- /modal-05 -->

                    <div id="modal-06" class="popup-modal slider mfp-hide">

                        <div class="media">
                            <img src="images/portfolio/modals/m-salad.jpg" alt="" />
                        </div>

                        <div class="description-box">
                            <h4>Salad</h4>
                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

                            <div class="categories">Branding</div>
                        </div>

                        <div class="link-box">
                            <a href="http://www.behance.net">Details</a>
                            <a href="#" class="popup-modal-dismiss">Close</a>
                        </div>

                    </div> <!-- /modal-06 -->
                    <!-- modal popups - end
                    ============================================================= -->

                </div> <!-- /portfolio-wrapper -->

            </div>  <!-- /twelve -->

        </div> <!-- /portfolio-content -->

    </section> <!-- /portfolio -->
    <!-- CTA Section
    ================================================== -->
    @*<section id="cta" class="grey-section">

        <div class="row cta-content">

            <div class="col-twelve section-ads">

                <h2 class="h01"><a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Styleshout Recommends Dreamhost.</a></h2>

                <p class="lead">
                    Looking for an awesome and reliable webhosting? Try <a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT"><span>DreamHost</span></a>.
                    Get <span>$50 off</span> when you sign up with the promocode <span>styleshout</span>.
                    <!-- Simply type    the promocode in the box labeled “Promo Code” when placing your order. -->
                </p>

                <div class="action">
                    <a class="button button-primary large" href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Sign Up Now</a>
                </div>

            </div>

        </div> <!-- /cta-content -->

    </section> <!-- /cta -->*@
    <!-- services Section
    ================================================== -->
    <section id="services">

        <div class="overlay"></div>

        <div class="row section-intro">
            <div class="col-twelve">

                <h5>Services</h5>
                <h1>What Can I Do For You?</h1>

                <p class="lead">My services range from academic research to software development area of expertise and also muiscal trainings invloving piano, violin and music theory</p>

            </div>
        </div> <!-- /section-intro -->

        <div class="row services-content">

            <div id="owl-slider" class="owl-carousel services-list">

                <div class="service">

                    <span class="icon"><i class="icon-earth"></i></span>

                    <div class="service-content">

                        <h3>Webdesign</h3>

                        <p class="desc">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                        </p>

                    </div>

                </div> <!-- /service -->

                <div class="service">

                    <span class="icon"><i class="icon-window"></i></span>

                    <div class="service-content">

                        <h3>Web Development</h3>

                        <p class="desc">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                        </p>

                    </div>

                </div> <!-- /service -->

                <div class="service">

                    <span class="icon"><i class="icon-paint-brush"></i></span>

                    <div class="service-content">

                        <h3>Branding</h3>

                        <p class="desc">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                        </p>

                    </div>

                </div> <!-- /service -->

                <div class="service">

                    <span class="icon"><i class="icon-toggles"></i></span>

                    <div class="service-content">

                        <h3>Choir Training</h3>

                        <p class="desc">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                        </p>

                    </div>

                </div> <!-- /service -->

                <div class="service">

                    <span class="icon"><i class="icon-image"></i></span>

                    <div class="service-content">

                        <h3>Music Theory</h3>

                        <p class="desc">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                        </p>

                    </div>

                </div> <!-- /service -->

                <div class="service">

                    <span class="icon"><i class="icon-chat"></i></span>

                    <div class="service-content">

                        <h3>Piano and Violin Training</h3>

                        <p class="desc">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                        </p>

                    </div>

                </div> <!-- /service -->

            </div> <!-- /services-list -->

        </div> <!-- /services-content -->

    </section> <!-- /services -->
    <!-- stats Section
    ================================================== -->
    <section id="stats" class="count-up">

        <div class="row">
            <div class="col-twelve">

                <div class="block-1-6 block-s-1-3 block-tab-1-2 block-mob-full stats-list">

                    <div class="bgrid stat">

                        <div class="icon-part">
                            <i class="icon-pencil-ruler"></i>
                        </div>

                        <h3 class="stat-count">
                            1500
                        </h3>

                        <h5 class="stat-title">
                            Projects Completed
                        </h5>

                    </div> <!-- /stat -->

                    <div class="bgrid stat">

                        <div class="icon-part">
                            <i class="icon-users"></i>
                        </div>

                        <h3 class="stat-count">
                            900
                        </h3>

                        <h5 class="stat-title">
                            Happy Clients
                        </h5>

                    </div> <!-- /stat -->

                    <div class="bgrid stat">

                        <div class="icon-part">
                            <i class="icon-badge"></i>
                        </div>

                        <h3 class="stat-count">
                            200
                        </h3>

                        <h5 class="stat-title">
                            Awards Received
                        </h5>

                    </div> <!-- /stat -->

                    <div class="bgrid stat">

                        <div class="icon-part">
                            <i class="icon-light-bulb"></i>
                        </div>

                        <h3 class="stat-count">
                            120
                        </h3>

                        <h5 class="stat-title">
                            Crazy Ideas
                        </h5>

                    </div> <!-- /stat -->

                    <div class="bgrid stat">

                        <div class="icon-part">
                            <i class="icon-cup"></i>
                        </div>

                        <h3 class="stat-count">
                            1500
                        </h3>

                        <h5 class="stat-title">
                            Coffee Cups
                        </h5>

                    </div> <!-- /stat -->

                    <div class="bgrid stat">

                        <div class="icon-part">
                            <i class="icon-clock"></i>
                        </div>

                        <h3 class="stat-count">
                            7200
                        </h3>

                        <h5 class="stat-title">
                            Hours
                        </h5>

                    </div> <!-- /stat -->

                </div> <!-- /stats-list -->

            </div> <!-- /twelve -->
        </div> <!-- /row -->

    </section> <!-- /stats -->
    <!-- contact
    ================================================== -->
    <section id="contact">

        <div class="row section-intro">
            <div class="col-twelve">

                <h5>Contact</h5>
                <h1>I'd Love To Hear From You.</h1>

                <p class="lead"></p>

            </div>
        </div> <!-- /section-intro -->

        <div class="row contact-form">

            <div class="col-twelve">

                <!-- form -->
                <form name="contactForm" id="contactForm" method="post" action="">
                    <fieldset>

                        <div class="form-field">
                            <input name="contactName" type="text" id="contactName" placeholder="Name" value="" minlength="2" required="">
                        </div>
                        <div class="form-field">
                            <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required="">
                        </div>
                        <div class="form-field">
                            <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="">
                        </div>
                        <div class="form-field">
                            <textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50" required=""></textarea>
                        </div>
                        <div class="form-field">
                            <button class="submitform">Submit</button>
                            <div id="submit-loader">
                                <div class="text-loader">Sending...</div>
                                <div class="s-loader">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </form> <!-- Form End -->
                <!-- contact-warning -->
                <div id="message-warning">
                </div>
                <!-- contact-success -->
                <div id="message-success">
                    <i class="fa fa-check"></i>Your message was sent, thank you!<br>
                </div>

            </div> <!-- /col-twelve -->

        </div> <!-- /contact-form -->

        <div class="row contact-info">

            <div class="col-four tab-full">

                <div class="icon">
                    <i class="icon-pin"></i>
                </div>

                <h5>Where to find me</h5>

                <p>
                    Department of Systems Engineering<br>
                    University of Lagos, Akoka<br>
                    Lagos, Nigeria.
                </p>

            </div>

            <div class="col-four tab-full collapse">

                <div class="icon">
                    <i class="icon-mail"></i>
                </div>

                <h5>Email Me At</h5>

                <p>
                    ogunderoayodeji@gmail.com<br>
                    ogunderomicheal@yahoo.com<br />
                    mogundero@unilag.edu.ng
                </p>

            </div>

            <div class="col-four tab-full">

                <div class="icon">
                    <i class="icon-phone"></i>
                </div>

                <h5>Call Me At</h5>

                <p>
                    Phone: (+234) 808 736 5099<br>
                    Mobile: (+234) 810 935 7930<br>
                </p>

            </div>

        </div> <!-- /contact-info -->

    </section> <!-- /contact -->
    <!-- footer
    ================================================== -->
    

    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-2.1.3.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>


